html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --black-color: #000;
    --white-color: #fff;
    --secondary-color: #004aad;   
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--black-color);
}

header #logo {
    font-size: 1.5rem;
    font-weight: 400;
}

#menu ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #000;
}

.sign_up_link {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 0.8rem;
    border: 1px solid var(--black-color);
    border-radius: 0.5rem;
    transition: 0.3s;
    font-weight: 900;
}

.sign_up_link:hover {
    color: var(--black-color);
    background-color: var(--white-color);
}

/* HOME */

section{
    border-bottom: 1px solid var(--black-color);
}

#home_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text{
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 1.3rem;
}

.text h1, .text a{
    margin: 0;
}

.text p{
    margin-block: 1.5rem;
}

main .photo{
    width: 35rem;
}

main img{
    width: 100%;
}